Xft.dpi: 180

! Colors
#include "/home/jeanclaude/.xcolors"

*background:            BACKGROUND
*foreground:            FOREGROUND
*fadeColor:             #ff0000
*cursorColor:           FOREGROUND
*pointerColorBackground:#ff0000
*pointerColorForeground:#ff0000

!! black dark/light
*color0:                COLOR0
*color8:                COLOR8

!! red dark/light
*color1:                COLOR1
*color9:                COLOR9

!! green dark/light
*color2:                COLOR2
*color10:               COLOR10

!! yellow dark/light
*color3:                COLOR3
*color11:               COLOR11

!! blue dark/light
*color4:                COLOR4
*color12:               COLOR12

!! magenta dark/light
*color5:                COLOR5
*color13:               COLOR13

!! cyan dark/light
*color6:                COLOR6
*color14:               COLOR14

!! white dark/light
*color7:                COLOR7
*color15:               COLOR15


! Rofi
!! State:           'bg',	   'fg',     'bgalt',  	     'hlbg',         'hlfg'
rofi.color-normal: argb:552f343f,  #f3f4f5,  argb:552f343f,  argb:552f343f,  #e53935
rofi.color-urgent: argb:552f343f,  #f3f4f5,  argb:552f343f,  argb:552f343f,  #e53935
rofi.color-active: argb:552f343f,  #f3f4f5,  argb:552f343f,  argb:552f343f,  #e53935

!!                  'background',  'border', 	 'separator'
rofi.color-window: argb:DD2f343f, argb:00000000, argb:00000000

