[Unit]
Description=Rsync tmbackup to Homeserver

[Service]
Type=oneshot
ExecStart=/home/jeanclaude/bin/rsync_tmbackup.sh /home/jeanclaude jeanclaude@homeserver.local:/home/jeanclaude/Backup/Arch /home/jeanclaude/.local/share/rsync_tmbackup/exclude_list
